<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="insurance">
            <h2><span jhiTranslate="yikondiApp.insurance.detail.title">Insurance</span> {{insurance.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yikondiApp.insurance.name">Name</span></dt>
                <dd>
                    <span>{{insurance.name}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.insurance.logo">Logo</span></dt>
                <dd>
                    <div *ngIf="insurance.logo">
                        <a (click)="openFile(insurance.logoContentType, insurance.logo)">
                            <img [src]="'data:' + insurance.logoContentType + ';base64,' + insurance.logo" style="max-width: 100%;" alt="insurance image"/>
                        </a>
                        {{insurance.logoContentType}}, {{byteSize(insurance.logo)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="yikondiApp.insurance.insuranceType">Insurance Type</span></dt>
                <dd>
                    <div *ngIf="insurance.insuranceType">
                        <a [routerLink]="['/insurance-type', insurance.insuranceType?.id, 'view']">{{insurance.insuranceType?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/insurance', insurance.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
