<div>
    <h2 id="page-heading">
        <span jhiTranslate="yikondiApp.insuranceType.home.title">Insurance Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-insurance-type" [routerLink]="['/insurance-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="yikondiApp.insuranceType.home.createLabel">
            Create a new Insurance Type
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'yikondiApp.insuranceType.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="insuranceTypes?.length === 0">
        <span jhiTranslate="yikondiApp.insuranceType.home.notFound">No insuranceTypes found</span>
    </div>
    <div class="table-responsive" *ngIf="insuranceTypes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="yikondiApp.insuranceType.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="yikondiApp.insuranceType.description">Description</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let insuranceType of insuranceTypes ;trackBy: trackId">
                <td><a [routerLink]="['/insurance-type', insuranceType.id, 'view' ]">{{insuranceType.id}}</a></td>
                <td>{{insuranceType.name}}</td>
                <td>{{insuranceType.description}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/insurance-type', insuranceType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/insurance-type', insuranceType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(insuranceType)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
