<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="drugAdministrationRoute">
            <h2><span jhiTranslate="yikondiApp.drugAdministrationRoute.detail.title">Drug Administration Route</span> {{drugAdministrationRoute.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yikondiApp.drugAdministrationRoute.name">Name</span></dt>
                <dd>
                    <span>{{drugAdministrationRoute.name}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/drug-administration-route', drugAdministrationRoute.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
