<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-medical-record-authorization-heading" jhiTranslate="yikondiApp.medicalRecordAuthorization.home.createOrEditLabel">Create or edit a Medical Record Authorization</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.medicalRecordAuthorization.authorizationDateTime" for="field_authorizationDateTime">Authorization Date Time</label>
                    <div class="d-flex">
                        <input id="field_authorizationDateTime" type="datetime-local" class="form-control" name="authorizationDateTime" formControlName="authorizationDateTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.medicalRecordAuthorization.authorizationStartDateTime" for="field_authorizationStartDateTime">Authorization Start Date Time</label>
                    <div class="d-flex">
                        <input id="field_authorizationStartDateTime" type="datetime-local" class="form-control" name="authorizationStartDateTime" formControlName="authorizationStartDateTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.medicalRecordAuthorization.authorizationEndDateTime" for="field_authorizationEndDateTime">Authorization End Date Time</label>
                    <div class="d-flex">
                        <input id="field_authorizationEndDateTime" type="datetime-local" class="form-control" name="authorizationEndDateTime" formControlName="authorizationEndDateTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.medicalRecordAuthorization.observations" for="field_observations">Observations</label>
                    <input type="text" class="form-control" name="observations" id="field_observations"
                           formControlName="observations"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.medicalRecordAuthorization.recordOwner" for="field_recordOwner">Record Owner</label>
                    <select class="form-control" id="field_recordOwner" name="recordOwner" formControlName="recordOwner">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id === editForm.get('recordOwner').value?.id ? editForm.get('recordOwner').value : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById">{{patientOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.medicalRecordAuthorization.authorizationGrantee" for="field_authorizationGrantee">Authorization Grantee</label>
                    <select class="form-control" id="field_authorizationGrantee" name="authorizationGrantee" formControlName="authorizationGrantee">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id === editForm.get('authorizationGrantee').value?.id ? editForm.get('authorizationGrantee').value : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById">{{patientOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
