<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="drug">
            <h2><span jhiTranslate="yikondiApp.drug.detail.title">Drug</span> {{drug.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yikondiApp.drug.name">Name</span></dt>
                <dd>
                    <span>{{drug.name}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.drug.description">Description</span></dt>
                <dd>
                    <span>{{drug.description}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.drug.administrationRoute">Administration Route</span></dt>
                <dd>
                    <div *ngIf="drug.administrationRoute">
                        <a [routerLink]="['/drug-administration-route', drug.administrationRoute?.id, 'view']">{{drug.administrationRoute?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yikondiApp.drug.dosageForm">Dosage Form</span></dt>
                <dd>
                    <div *ngIf="drug.dosageForm">
                        <a [routerLink]="['/drug-dosage-form', drug.dosageForm?.id, 'view']">{{drug.dosageForm?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/drug', drug.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
