<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="healthCentre">
            <h2><span jhiTranslate="yikondiApp.healthCentre.detail.title">Health Centre</span> {{healthCentre.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yikondiApp.healthCentre.name">Name</span></dt>
                <dd>
                    <span>{{healthCentre.name}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.healthCentre.logo">Logo</span></dt>
                <dd>
                    <div *ngIf="healthCentre.logo">
                        <a (click)="openFile(healthCentre.logoContentType, healthCentre.logo)">
                            <img [src]="'data:' + healthCentre.logoContentType + ';base64,' + healthCentre.logo" style="max-width: 100%;" alt="healthCentre image"/>
                        </a>
                        {{healthCentre.logoContentType}}, {{byteSize(healthCentre.logo)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="yikondiApp.healthCentre.address">Address</span></dt>
                <dd>
                    <div *ngIf="healthCentre.address">
                        <a [routerLink]="['/address', healthCentre.address?.id, 'view']">{{healthCentre.address?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yikondiApp.healthCentre.category">Category</span></dt>
                <dd>
                    <div *ngIf="healthCentre.category">
                        <a [routerLink]="['/health-centre-category', healthCentre.category?.id, 'view']">{{healthCentre.category?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/health-centre', healthCentre.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
