<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="patientLifeConstant">
            <h2><span jhiTranslate="yikondiApp.patientLifeConstant.detail.title">Patient Life Constant</span> {{patientLifeConstant.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yikondiApp.patientLifeConstant.measurementDatetime">Measurement Datetime</span></dt>
                <dd>
                    <span>{{patientLifeConstant.measurementDatetime}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.patientLifeConstant.measuredValue">Measured Value</span></dt>
                <dd>
                    <span>{{patientLifeConstant.measuredValue}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.patientLifeConstant.patient">Patient</span></dt>
                <dd>
                    <div *ngIf="patientLifeConstant.patient">
                        <a [routerLink]="['/patient', patientLifeConstant.patient?.id, 'view']">{{patientLifeConstant.patient?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yikondiApp.patientLifeConstant.lifeConstant">Life Constant</span></dt>
                <dd>
                    <div *ngIf="patientLifeConstant.lifeConstant">
                        <a [routerLink]="['/life-constant', patientLifeConstant.lifeConstant?.id, 'view']">{{patientLifeConstant.lifeConstant?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/patient-life-constant', patientLifeConstant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
