<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-patient-allergy-heading" jhiTranslate="yikondiApp.patientAllergy.home.createOrEditLabel">Create or edit a Patient Allergy</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.patientAllergy.observationDate" for="field_observationDate">Observation Date</label>
                    <div class="input-group">
                        <input id="field_observationDate" type="text" class="form-control" name="observationDate" ngbDatepicker  #observationDateDp="ngbDatepicker" formControlName="observationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="observationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.patientAllergy.observations" for="field_observations">Observations</label>
                    <input type="text" class="form-control" name="observations" id="field_observations"
                           formControlName="observations"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.patientAllergy.patient" for="field_patient">Patient</label>
                    <select class="form-control" id="field_patient" name="patient" formControlName="patient">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id === editForm.get('patient').value?.id ? editForm.get('patient').value : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById">{{patientOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.patientAllergy.allergy" for="field_allergy">Allergy</label>
                    <select class="form-control" id="field_allergy" name="allergy" formControlName="allergy">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="allergyOption.id === editForm.get('allergy').value?.id ? editForm.get('allergy').value : allergyOption" *ngFor="let allergyOption of allergies; trackBy: trackAllergyById">{{allergyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
