<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="doctor">
            <h2><span jhiTranslate="yikondiApp.doctor.detail.title">Doctor</span> {{doctor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yikondiApp.doctor.title">Title</span></dt>
                <dd>
                    <span jhiTranslate="{{'yikondiApp.Title.' + doctor.title}}">{{doctor.title}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.doctor.patient">Patient</span></dt>
                <dd>
                    <div *ngIf="doctor.patient">
                        <a [routerLink]="['/patient', doctor.patient?.id, 'view']">{{doctor.patient?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yikondiApp.doctor.speciality">Speciality</span></dt>
                <dd>
                    <div *ngIf="doctor.speciality">
                        <a [routerLink]="['/speciality', doctor.speciality?.id, 'view']">{{doctor.speciality?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/doctor', doctor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
