<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pharmacy">
            <h2><span jhiTranslate="yikondiApp.pharmacy.detail.title">Pharmacy</span> {{pharmacy.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yikondiApp.pharmacy.name">Name</span></dt>
                <dd>
                    <span>{{pharmacy.name}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.pharmacy.logo">Logo</span></dt>
                <dd>
                    <div *ngIf="pharmacy.logo">
                        <a (click)="openFile(pharmacy.logoContentType, pharmacy.logo)">
                            <img [src]="'data:' + pharmacy.logoContentType + ';base64,' + pharmacy.logo" style="max-width: 100%;" alt="pharmacy image"/>
                        </a>
                        {{pharmacy.logoContentType}}, {{byteSize(pharmacy.logo)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="yikondiApp.pharmacy.address">Address</span></dt>
                <dd>
                    <div *ngIf="pharmacy.address">
                        <a [routerLink]="['/address', pharmacy.address?.id, 'view']">{{pharmacy.address?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pharmacy', pharmacy.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
