<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="patient">
            <h2><span jhiTranslate="yikondiApp.patient.detail.title">Patient</span> {{patient.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yikondiApp.patient.civility">Civility</span></dt>
                <dd>
                    <span jhiTranslate="{{'yikondiApp.Civility.' + patient.civility}}">{{patient.civility}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.patient.surname">Surname</span></dt>
                <dd>
                    <span>{{patient.surname}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.patient.firstname">Firstname</span></dt>
                <dd>
                    <span>{{patient.firstname}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.patient.picture">Picture</span></dt>
                <dd>
                    <div *ngIf="patient.picture">
                        <a (click)="openFile(patient.pictureContentType, patient.picture)">
                            <img [src]="'data:' + patient.pictureContentType + ';base64,' + patient.picture" style="max-width: 100%;" alt="patient image"/>
                        </a>
                        {{patient.pictureContentType}}, {{byteSize(patient.picture)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="yikondiApp.patient.dateOfBirth">Date Of Birth</span></dt>
                <dd>
                    <span>{{patient.dateOfBirth}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.patient.profession">Profession</span></dt>
                <dd>
                    <span>{{patient.profession}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.patient.address">Address</span></dt>
                <dd>
                    <div *ngIf="patient.address">
                        <a [routerLink]="['/address', patient.address?.id, 'view']">{{patient.address?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yikondiApp.patient.correspondingUser">Corresponding User</span></dt>
                <dd>
                    {{patient.correspondingUser?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/patient', patient.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
