<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-doctor-working-slot-heading" jhiTranslate="yikondiApp.doctorWorkingSlot.home.createOrEditLabel">Create or edit a Doctor Working Slot</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.doctorWorkingSlot.dayOfTheWeek" for="field_dayOfTheWeek">Day Of The Week</label>
                    <select class="form-control" name="dayOfTheWeek" formControlName="dayOfTheWeek" id="field_dayOfTheWeek">
                        <option value="MONDAY">{{'yikondiApp.DayOfTheWeek.MONDAY' | translate}}</option>
                        <option value="TUESDAY">{{'yikondiApp.DayOfTheWeek.TUESDAY' | translate}}</option>
                        <option value="WEDNESDAY">{{'yikondiApp.DayOfTheWeek.WEDNESDAY' | translate}}</option>
                        <option value="THURSDAY">{{'yikondiApp.DayOfTheWeek.THURSDAY' | translate}}</option>
                        <option value="FRIDAY">{{'yikondiApp.DayOfTheWeek.FRIDAY' | translate}}</option>
                        <option value="SATURDAY">{{'yikondiApp.DayOfTheWeek.SATURDAY' | translate}}</option>
                        <option value="SUNDAY">{{'yikondiApp.DayOfTheWeek.SUNDAY' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.doctorWorkingSlot.startTime" for="field_startTime">Start Time</label>
                    <input type="text" class="form-control" name="startTime" id="field_startTime"
                           formControlName="startTime"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.doctorWorkingSlot.endTime" for="field_endTime">End Time</label>
                    <input type="text" class="form-control" name="endTime" id="field_endTime"
                           formControlName="endTime"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.doctorWorkingSlot.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.doctorWorkingSlot.doctorSchedule" for="field_doctorSchedule">Doctor Schedule</label>
                    <select class="form-control" id="field_doctorSchedule" name="doctorSchedule" formControlName="doctorSchedule">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="doctorScheduleOption.id === editForm.get('doctorSchedule').value?.id ? editForm.get('doctorSchedule').value : doctorScheduleOption" *ngFor="let doctorScheduleOption of doctorschedules; trackBy: trackDoctorScheduleById">{{doctorScheduleOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
