<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pathology">
            <h2><span jhiTranslate="yikondiApp.pathology.detail.title">Pathology</span> {{pathology.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yikondiApp.pathology.name">Name</span></dt>
                <dd>
                    <span>{{pathology.name}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.pathology.description">Description</span></dt>
                <dd>
                    <span>{{pathology.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pathology', pathology.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
