<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pharmacy-all-night-planning-heading" jhiTranslate="yikondiApp.pharmacyAllNightPlanning.home.createOrEditLabel">Create or edit a Pharmacy All Night Planning</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.pharmacyAllNightPlanning.plannedStartDate" for="field_plannedStartDate">Planned Start Date</label>
                    <div class="input-group">
                        <input id="field_plannedStartDate" type="text" class="form-control" name="plannedStartDate" ngbDatepicker  #plannedStartDateDp="ngbDatepicker" formControlName="plannedStartDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="plannedStartDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.pharmacyAllNightPlanning.plannedEndDate" for="field_plannedEndDate">Planned End Date</label>
                    <div class="input-group">
                        <input id="field_plannedEndDate" type="text" class="form-control" name="plannedEndDate" ngbDatepicker  #plannedEndDateDp="ngbDatepicker" formControlName="plannedEndDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="plannedEndDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.pharmacyAllNightPlanning.pharmacy" for="field_pharmacy">Pharmacy</label>
                    <select class="form-control" id="field_pharmacy" name="pharmacy" formControlName="pharmacy">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pharmacyOption.id === editForm.get('pharmacy').value?.id ? editForm.get('pharmacy').value : pharmacyOption" *ngFor="let pharmacyOption of pharmacies; trackBy: trackPharmacyById">{{pharmacyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
