<div>
    <h2 id="page-heading">
        <span jhiTranslate="yikondiApp.familyMember.home.title">Family Members</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-family-member" [routerLink]="['/family-member/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="yikondiApp.familyMember.home.createLabel">
            Create a new Family Member
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'yikondiApp.familyMember.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="familyMembers?.length === 0">
        <span jhiTranslate="yikondiApp.familyMember.home.notFound">No familyMembers found</span>
    </div>
    <div class="table-responsive" *ngIf="familyMembers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="yikondiApp.familyMember.observations">Observations</span></th>
            <th scope="col" ><span jhiTranslate="yikondiApp.familyMember.owner">Owner</span></th>
            <th scope="col" ><span jhiTranslate="yikondiApp.familyMember.member">Member</span></th>
            <th scope="col" ><span jhiTranslate="yikondiApp.familyMember.relationship">Relationship</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let familyMember of familyMembers ;trackBy: trackId">
                <td><a [routerLink]="['/family-member', familyMember.id, 'view' ]">{{familyMember.id}}</a></td>
                <td>{{familyMember.observations}}</td>
                <td>
                    <div *ngIf="familyMember.owner">
                        <a [routerLink]="['/patient', familyMember.owner?.id, 'view' ]" >{{familyMember.owner?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="familyMember.member">
                        <a [routerLink]="['/patient', familyMember.member?.id, 'view' ]" >{{familyMember.member?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="familyMember.relationship">
                        <a [routerLink]="['/family-relationship', familyMember.relationship?.id, 'view' ]" >{{familyMember.relationship?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/family-member', familyMember.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/family-member', familyMember.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(familyMember)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
