<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-patient-appointement-heading" jhiTranslate="yikondiApp.patientAppointement.home.createOrEditLabel">Create or edit a Patient Appointement</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.patientAppointement.appointementDateTime" for="field_appointementDateTime">Appointement Date Time</label>
                    <div class="d-flex">
                        <input id="field_appointementDateTime" type="datetime-local" class="form-control" name="appointementDateTime" formControlName="appointementDateTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.patientAppointement.appointementMakingDateTime" for="field_appointementMakingDateTime">Appointement Making Date Time</label>
                    <div class="d-flex">
                        <input id="field_appointementMakingDateTime" type="datetime-local" class="form-control" name="appointementMakingDateTime" formControlName="appointementMakingDateTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.patientAppointement.booker" for="field_booker">Booker</label>
                    <select class="form-control" id="field_booker" name="booker" formControlName="booker">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id === editForm.get('booker').value?.id ? editForm.get('booker').value : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById">{{patientOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.patientAppointement.consultationPatient" for="field_consultationPatient">Consultation Patient</label>
                    <select class="form-control" id="field_consultationPatient" name="consultationPatient" formControlName="consultationPatient">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patientOption.id === editForm.get('consultationPatient').value?.id ? editForm.get('consultationPatient').value : patientOption" *ngFor="let patientOption of patients; trackBy: trackPatientById">{{patientOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="yikondiApp.patientAppointement.healthCentreDoctor" for="field_healthCentreDoctor">Health Centre Doctor</label>
                    <select class="form-control" id="field_healthCentreDoctor" name="healthCentreDoctor" formControlName="healthCentreDoctor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="healthCentreDoctorOption.id === editForm.get('healthCentreDoctor').value?.id ? editForm.get('healthCentreDoctor').value : healthCentreDoctorOption" *ngFor="let healthCentreDoctorOption of healthcentredoctors; trackBy: trackHealthCentreDoctorById">{{healthCentreDoctorOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
