<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="patientAppointement">
            <h2><span jhiTranslate="yikondiApp.patientAppointement.detail.title">Patient Appointement</span> {{patientAppointement.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yikondiApp.patientAppointement.appointementDateTime">Appointement Date Time</span></dt>
                <dd>
                    <span>{{patientAppointement.appointementDateTime}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.patientAppointement.appointementMakingDateTime">Appointement Making Date Time</span></dt>
                <dd>
                    <span>{{patientAppointement.appointementMakingDateTime}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.patientAppointement.booker">Booker</span></dt>
                <dd>
                    <div *ngIf="patientAppointement.booker">
                        <a [routerLink]="['/patient', patientAppointement.booker?.id, 'view']">{{patientAppointement.booker?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yikondiApp.patientAppointement.consultationPatient">Consultation Patient</span></dt>
                <dd>
                    <div *ngIf="patientAppointement.consultationPatient">
                        <a [routerLink]="['/patient', patientAppointement.consultationPatient?.id, 'view']">{{patientAppointement.consultationPatient?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="yikondiApp.patientAppointement.healthCentreDoctor">Health Centre Doctor</span></dt>
                <dd>
                    <div *ngIf="patientAppointement.healthCentreDoctor">
                        <a [routerLink]="['/health-centre-doctor', patientAppointement.healthCentreDoctor?.id, 'view']">{{patientAppointement.healthCentreDoctor?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/patient-appointement', patientAppointement.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
