<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="emergencyAmbulance">
            <h2><span jhiTranslate="yikondiApp.emergencyAmbulance.detail.title">Emergency Ambulance</span> {{emergencyAmbulance.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="yikondiApp.emergencyAmbulance.name">Name</span></dt>
                <dd>
                    <span>{{emergencyAmbulance.name}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.emergencyAmbulance.description">Description</span></dt>
                <dd>
                    <span>{{emergencyAmbulance.description}}</span>
                </dd>
                <dt><span jhiTranslate="yikondiApp.emergencyAmbulance.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{emergencyAmbulance.phoneNumber}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/emergency-ambulance', emergencyAmbulance.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
